<header class="site-header">
  <div class="container site-header-top">
    <a class="site-logo" href="{{ "/" | relative_url }}" aria-hidden="true">
      <span class="site-logo-placeholder">LOGO</span>
    </a>
    <a class="site-title" href="{{ "/" | relative_url }}">{{ site.title }}</a>
  </div>
  <div class="site-header-nav">
    <nav class="container site-nav">
      <a href="{{ "/about/" | relative_url }}">What is P-SSCRM?</a>
      <a href="{{ "/framework/" | relative_url }}">The Framework</a>
      <a href="{{ "/roles/" | relative_url }}">Which controls apply to me?</a>
      <a href="{{ "/participate/" | relative_url }}">Join the Study</a>
      <a href="https://github.com/p-sscrm/p-sscrm.github.io" target="_blank" rel="noopener">GitHub &#8599;</a>
    </nav>
  </div>
</header>
