<p class="breadcrumb">
  <a href="{{ "groups/" | absURL }}">Groups</a>
  {{ if eq .Section "groups" }}
    &raquo; {{ .Title }}
  {{ else if eq .Section "practices" }}
    {{ with .Site.GetPage (printf "/groups/%s" .Params.group) }}
      &raquo; <a href="{{ .Permalink }}">{{ .Title }}</a>
    {{ end }}
    &raquo; {{ $.Title }}
  {{ else if eq .Section "controls" }}
    {{ $practice := .Site.GetPage (printf "/practices/%s" .Params.practice) }}
    {{ with $practice }}
      {{ with .Site.GetPage (printf "/groups/%s" .Params.group) }}
        &raquo; <a href="{{ .Permalink }}">{{ .Title }}</a>
      {{ end }}
      &raquo; <a href="{{ $practice.Permalink }}">{{ $practice.Title }}</a>
    {{ end }}
    &raquo; {{ $.Title }}
  {{ end }}
</p>
