<header class="site-header">
  <div class="container site-header-top">
    <a class="site-logo" href="{{ "" | absURL }}" aria-hidden="true">
      <span class="site-logo-placeholder">LOGO</span>
    </a>
    <a class="site-title" href="{{ "" | absURL }}">{{ .Site.Title }}</a>
  </div>
  <div class="site-header-nav">
    <nav class="container site-nav">
      <a href="{{ "" | absURL }}">About</a>
      <a href="{{ "groups/" | absURL }}">Current Version</a>
      <a href="{{ "frameworks/" | absURL }}">Frameworks</a>
      <a href="{{ "faq/" | absURL }}">FAQ</a>
    </nav>
  </div>
</header>
