---
layout: default
---
<section class="hero">
  <div class="container">
    <h1>{{ site.title }}</h1>
    <div class="hero-intro">
      {% include about-content.html %}
    </div>
  </div>
</section>

<section class="home-versions">
  <div class="container">
    <h2>Versions</h2>
    <p class="section-intro">Only the version labeled "current" should be used for new compliance efforts. Data comes directly from <a href="https://github.com/p-sscrm/p-sscrm" target="_blank" rel="noopener">https://github.com/p-sscrm/p-sscrm</a>.</p>
    <ul class="version-list">
      {% for v in site.data.versions %}
        <li>
          {% if v.current %}Current version: {% else %}Previous version: {% endif %}
          <span class="version-number">v{{ v.version }}</span>
          (<a href="{{ v.download_url }}" target="_blank" rel="noopener" download>download</a>)
        </li>
      {% endfor %}
    </ul>

    <p class="section-intro">MITRE ATT&amp;CK mapping data comes from <a href="https://github.com/p-sscrm/ats-to-ts" target="_blank" rel="noopener">https://github.com/p-sscrm/ats-to-ts</a>.</p>
    <ul class="version-list">
      {% for v in site.data.mitre_versions %}
        <li>
          {% if v.current %}Current MITRE mapping: {% else %}Previous MITRE mapping: {% endif %}
          <span class="version-number">v{{ v.version }}</span>
          (<a href="{{ v.download_url }}" target="_blank" rel="noopener" download>download</a>)
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
